services:
  api:
    build: .
    ports:
      - 3000:3000
    environment:
      - PORT=3000
      - DB_FILE_NAME=file:/app/data/local.db
      - REDIS_URL=redis://redis:6379
    volumes:
      - ./data:/app/data
    depends_on:
      - redis
  redis:
    image: redis:7
    ports:
      - 6379:6379